@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
header a{
    text-decoration: underline;
}
.ma_title a{
    text-decoration: underline;
}
.bg_dark{
    height: 45vh;
}
.underline{
    text-decoration: underline;
}
.card{
    padding: 0 !important;
} 
img{
    height: 100%;
}